@import "tailwindcss";
@import "@fontsource/cormorant-garamond";

@theme {
  --font-serif: "Cormorant Garamond", serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-serif);
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto;
  /* Ensure they can still be clicked if needed */
}